<link href="./registration-form.component.scss">
<form class="registration-form">
  <img src="https://www.chipotle.com/content/dam/poc/order/images/logos/medallion-reward.svg" alt="restaurant logo"
    class="chipotle-logo">
  <h1 class="header">CREATE AN ACCOUNT</h1>
  <p class= "reward">Create an account so you can get rewards<br>and order your favorites even faster.</p>
  <input type="text" placeholder="First Name" class="textbox"/><br>
  <input type="text" placeholder="Last Name" class="textbox"/><br>
  <input type="text" placeholder="Email" class="textbox"/><br>
  <input type="password" placeholder="Password" class="textbox" /><br>
  <input type="text" placeholder="Mobile Number" class="textbox" /><br>
  <p class="small-text">For security and order related questions.</p>
  <p class="question">Also receive Text offers and promotions?*</p>
  <div class="promotions">
    <input type="radio" id="yes" name="offers" value="Yes"><label for="yes">Yes</label>
    <input type="radio" id="no" name="offers" value="No" class="no-radio"><label for="no" >No</label>
  </div>
  <p class="question">Country</p>
  <input type="radio" id="us" name="country" value="United States"><label for="us">United States</label><input type="radio" id="canada" name="country" value="Canada"><label for="canada">Canada</label><br>
 <br>
<input type="text" placeholder="Birthday MM/DD"/>
<p>So we know when to celebrate.</p>
<button type="button" onclick="alert('Hello world!')" class="create-account">CREATE AN ACCOUNT  </button>
<p class="member"><b>ALREADY A MEMBER?</b><a href="/converse-shoes">Sign In</a></p> 
<p class="terms">By creating this account, I am confirming I am 13 years of age or older, will<br>be automatically enrolled in Chipotle Rewards, will receive email updates,<br>promotions and offers from Chipotle, and agree to Chipotle's Privacy<br>Policy, Terms of Use and Chipotle Rewards Terms & Conditions.</p>
<p class="terms">*By opting in to text, you agree to receive Chipotle updates and offers via<br>text. Recurring marketing messages will be sent to your account mobile<br>number using automated technology. Consent is not a condition of<br>purchase. Standard msg and data rates may apply. Text STOP to cancel.<br>Text HELP for help. I will display &#128512;</p>
</form>